# Python environment and build artifacts
Lib/
Include/
Scripts/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.db
*.sqlite3
*.log
*.bak
*.swp
.DS_Store
.vscode/
.idea/
data/
vectorstore/
uploads/
share/
test.txt
*.ipynb
*.faiss
*.pkl
venv/
env/
prepmate.egg-info/
